<!DOCTYPE html >
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous"
    >
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous">
    </script>
</head>
<body>
<div class="container">
    <table class="table table-bordered">
        <div class="alert mt-5 alert-success alert-dismissible fade show" role="alert" th:if="${message_success}">
            [[${message_success}]]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="alert mt-5 alert-danger alert-dismissible fade show" role="alert" th:if="${message_danger}">
            [[${message_danger}]]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <h1>List of Users</h1>
    <a href="/add" class="btn mb-3 btn-primary">Add new user</a>
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Email</th>
        <th scope="col">Enabled</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user:${users}">
        <th  th:text="${user.id}"></th>
        <td  th:text="${user.firstName}"></td>
        <td  th:text="${user.firstName}"></td>
        <td  th:text="${user.email}"></td>
        <td  th:text="${user.enabled}"></td>
        <td>
            <a class="mr-3 btn btn-success" th:href="@{'users/edit/'+${user.id}}">Edit</a>
            <a class="mr-3 btn btn-danger"  th:href="@{'users/delete/'+${user.id}}" onclick="return confirm('Are you sure you want to delete this user?');">Delete</a>
        </td>

    </tr>
    </tbody>
</table></div>

</body>
</html>